{% extends 'public/base.html' %}
{% load static %}
{% block content %}

<body class="sub_page">

  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>
              ZIOTECH
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'service' %}">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'news' %}">News</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
            <div class="quote_btn-container">
              <a href="" class="quote_btn">
                Get A Quote
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

  </div>


  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2
        >
        <p>
          {% if error %}
          {{ error }}
          <br>
          {% endif %}
        </p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="form_container">
            <form action="#" method="POST">
              {% csrf_token %}
              <div>
                <input type="text" placeholder="Your Name" name="title" />
              </div>
              <div>
                <input type="text" placeholder="Phone Number" name="phone_number" />
              </div>
              <div>
                <input type="email" placeholder="Email" name="field_name"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="body" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="img-box">
            <img src="{% static 'public/images/contact-img.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- info section -->

  

  <!-- end info section -->



</body>
{% endblock %}