{% extends 'private/base1.html' %}
{% load static %}
{% block content %}
      <style>
         table {
           font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 100%;
           color: #030303;
         }
   
         td,
         th {
           border: 1px solid #030303;
           text-align: left;
           padding: 8px;
         }
       </style>
  
               <!-- end topbar -->
               <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Contacts</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                    

                     <table>
                        <tr>
                          <th>Name</th>
                          
                          <th>Phone</th>
                          <th>Email</th>
                          <th>Message</th>
                        </tr>
                        {% for product in context %}
                        <tr>
                          <td>{{ product.title}}</td>
                          
                          <td>{{ product.phone_number}}</td>
                          <td>{{product.field_name}}</td>
                          <td>{{product.body}}</td>
                        </tr>
                        {% endfor %}
                      </table>
                     <!-- footer -->
 {% endblock %}